@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.subpage { /*Used for subpage content*/
  margin-left: 26vw;
  height: 100vh;

  font-family: 'Inconsolata', monospace;
  text-align: left;
}

.App {
  text-align: start;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  font-size: calc(32px + 6vmin);
  color: white;
}

.pageList {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.selButton {
  font-size: 5vw;
  border: none;
  color: rgb(219, 219, 219);
  background-color: transparent;
  width: fit-content;
  margin: 2.5%;
  margin-left: 0px;

  font-family: 'Inconsolata', monospace;
  text-align: left;

  transition: all 0.3s ease;
}

.animated {
  animation: shrinkIn 0.3s ease;
}

.selButton:hover {
  font-size: 6vw;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 50% {
    border-right: 2px solid #fff;
  }
  51%, 100% {
    border-right: 2px solid transparent;
  }
}

@keyframes shrinkIn {
  0% {
    font-size: 6vw;
  }
  100% {
    font-size: 5vw;
  }
}