@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.subpage { /*Used for subpage content*/
  margin-left: 26vw;
  height: 100vh;

  font-family: 'Inconsolata', monospace;
  text-align: left;
}

.App {
  text-align: start;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  font-size: calc(32px + 6vmin);
  color: white;
}

.pageList {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.selButton, .notBlinking {
  font-size: 5vw;
  border: none;
  color: rgb(219, 219, 219);
  background-color: transparent;
  width: 100%;
  margin: 2.5%;
  margin-left: 0px;

  font-family: 'Inconsolata', monospace;
  text-align: left;

  transition: all 0.3s ease;
}

.MIDWAY {
  width: 0%;
}

.animated {
  font-size: 6vw;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  animation: 
    typing 0.5s steps(8, end),
    blink-caret step-end infinite;
}

.animatedOUT {
  font-size: 6vw;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  animation: 
    typingOUT 0.5s steps(8, end),
    blink-caret step-end infinite;
}

.selButton:hover {
  font-size: 6vw;
  
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 50% {
    border-right: 3px solid #fff;
  }
  51%, 100% {
    border-right: 3px solid transparent;
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes typingOUT {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}