.projApp {
    /*animation: typeIn 1s ease;*/
}

.linkGit {
  font-size: 3vw;
  border: none;
  color: rgb(219, 219, 219);
  background-color: transparent;
  padding: 0%;
  margin: 0%;
}

.linkGit:hover {
  text-decoration: underline;
}